<div>
  <nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-start">
      <a><%= link_to "Home", root_path %></a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
    <% if logged_in? %>
          <a href="#" class="navbar-link">
            Account
          </a>
        <div class="navbar-dropdown">
          <a class="navbar-item"><%= link_to "Profile", current_user %></a>
          <a class="navbar-item"><%= link_to "Settings", '#' %></a>
          <hr class="navbar-divider">
          <a class="navbar-item" ><%= link_to "Log out", logout_path, method: :delete %></a>
        </div>
    <% else %>
        <a class="navbar-item"><%= link_to "Log in", login_path %></a>
    <% end %>
      </div>
    </div>
  </nav>
</div>
