<div>
  <nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-start">
      <a><%= link_to "Home", root_path, class: "navbar-item" %></a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
    <% if logged_in? %>
          <a href="#" class="navbar-link">
            Account
          </a>
        <div class="navbar-dropdown">
          <a><%= link_to "Profile", current_user, class: "navbar-item" %></a>
          <a><%= link_to "Settings", '#', class: "navbar-item" %></a>
          <hr class="navbar-divider">
          <a><%= link_to "Log out", logout_path, method: :delete, class: "navbar-item"  %></a>
        </div>
    <% else %>
        <a><%= link_to "Log in", login_path, class: "navbar-item" %></a>
    <% end %>
      </div>
    </div>
  </nav>
</div>
